<!DOCTYPE html>
<html>
    <head>
        <title>Webida Authorization Server supports OAuth2.0</title>
        <link rel="stylesheet" type="text/css" href="/login_uip.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="/login_uip.js"></script>
    </head>
    <body>
        <div class="background">
            <div class="container_login">
                <img class="webida_logo" src="/uiplogo_login.png">
                <div class="login_failed hide">
                    <div class="login_label">Log-in failed</div>
                    <div id="login_failed_msg" class="login_failed_msg">Invalid user name or password</div>
                </div>
                <input class='login_input login_email' type="text" id="email" name="email" placeholder="Email" autofocus/><br/>
                <input class='login_input login_password' type="password" id="password" name="password" onkeydown="onLogin(event);" placeholder="Password"/>
                <input class='login_button' type="button" id="loginbutton" name="submit" value="Log-in" onclick="doLogin();"/>
                <div>
                    <input class="remember_check" id="rememberemail" type="checkbox" name="remember"/>
                    <label for="rememberemail"></label>
                    <div class="remember_email">Remember my email</div>
                </div>

            </div>
            <div class="container_passwd">
                <a class="go_login" href="#" tabindex="-1" onclick="goLogin();">Back</a>
                <div class="login_label passwd_label">Forgot your password?</div>
                <div class="container_passwd_find">
                    <div class="login_label passwd_label2">
                        Please enter your email address below and we'll email you instructions how to reset it.
                    </div>
                    <div class="passwd_failed_msg hide">Invalid user email !!</div>
                    <input class="login_input passwd_email" type="text" id="email_pw" tabindex="-1" onkeydown="onSubmit(event);" placeholder="Email"/><br/>
                    <input class="login_button passwd_button" type="button" id="passwd_button" value="Submit" tabindex="-1" onclick="doFindPW();"/>
                </div>
                <div class="container_passwd_success hide">
                    <div class="passwd_success_label">
                        We've sent an email with instructions on how to reset your password.
                    </div>
                    <div class="passwd_success_label2">
                        If you don't receive instructions within a few minutes, check your email's spam and junk filters.
                    </div>
                </div>
            </div>
            </div>
        </div>
    </body>
</html>
