<!DOCTYPE html>
<html>
	<head>
		<title>Webida Authorization Server supports OAuth2.0</title>
        <link rel="stylesheet" type="text/css" href="/signup_noti.css">
	</head>
	<body>
        <div class="background">
            <div class="container">
                <img class="webida_logo_signup" src="/webida_logo_signup.png">
                <div class="signup_label">SIGN UP</div>
                <div class="signup_noti">
                    <div class="signup_thanks">Thank you for signing up.</div></br>
                    We've sent you an email.</br> Click the confirmation link sent by email to finalize your registration.
                </div>
            </div>
        </div>
	</body>
</html>

